extends header

block form
  form.form-group(method="POST")
    .row
      .col-lg-4
        label(for="email") Please enter your email address and your full name
    .row
      .col-lg-4.padded
        input.form-control(type="email", id="email", name="email", placeholder="Your email address", pattern="[A-Za-z0-9._-]*@[a-zA-Z]*[.]([a-zA-Z]{2,}|[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})", required)
    .row
      .col-lg-2.padded
        input.form-control(type="text", id="name", name="name", placeholder="Name")
      .col-lg-2.padded
        input.form-control(type="text", id="surname", name="surname", placeholder="Surname")
      .col-lg-1.padded
        input.btn.btn-primary.form-control(type="Submit", value="Submit", id="submit")