extends header

block form
  form.form-group(method="POST")
    .row
      .col-lg-4
        label(for="email") Please enter your email address 
    .row
      .col-lg-4
        input.form-control(type="email", id="email", required)
      .col-lg-1
        input.btn.btn-primary.form-control(type="Submit", value="Submit", id="submit")